{% extends "html/base.html" %}

{% block content %}
<h2>{% if yesterday %}<a href="{% url app.views.day yesterday.year yesterday.month yesterday.day %}">&lt;&lt;</a>{% endif %}
    {{ date|date:"l" }}
    <a href="{% url app.views.month date.year date.month %}">{{ date|date:"F" }}</a>
    {{ date.day }},
    <a href="{% url app.views.year date.year %}">{{ date.year }}</a>
    {% if tomorrow %}<a href="{% url app.views.day tomorrow.year tomorrow.month tomorrow.day %}">&gt;&gt;</a>{% endif %}</h2>

<div id="tabs">
<ul>
    <li><a href="#tabs-1">Charts</a></li>
    <li><a href="#tabs-2">Data</a></li>
    <li><a href="#tabs-3">Climate</a></li>
    <li><a href="#tabs-4">On This Day</a></li>
</ul>
<div id="tabs-1">
<h3>Temperature</h3>

<p>Outside: <b>Maximum:</b> {{ day.max_temp_out }}<sup>o</sup>C <b>Minimum:</b> {{ day.min_temp_out }}<sup>o</sup>C <b>Average:</b> {{ day.avg_temp_out|floatformat:1 }}<sup>o</sup>C</p>
<p>Inside: <b>Maximum:</b> {{ day.max_temp_in }}<sup>o</sup>C <b>Minimum:</b> {{ day.min_temp_in }}<sup>o</sup>C <b>Average:</b> {{ day.avg_temp_in|floatformat:1 }}<sup>o</sup>C</p>

<div id="tempchart_div"></div>

<h3>Rainfall</h3>

<p><b>Total Rainfall:</b> {{ day.rain }} mm</p>

{% if total_rain > 0 %}
<div id="rainchart_div"></div>
{% endif %}

<h3>Pressure</h3>

<div id="pressuret_div"></div>

<h3>Wind (mph)</h3>

<table><tr>
<td id="windspeed_div"></td>
<td id="winddir_div"></td>
</tr></table>

<h3>Humidity</h3>

<p>Outside: <b>Maximum:</b> {{ day.max_hum_out }}% <b>Minimum:</b> {{ day.min_hum_out }}%</p>
<p>Inside: <b>Maximum:</b> {{ day.max_hum_in }}% <b>Minimum:</b> {{ day.min_hum_in }}%</p>

<div id="humidity_div"></div>
</div>
<div id="tabs-2">
<table class="data_table">
<thead>
<tr>
    <th>Time</th>
    <th>Outside Temperature</th>
    <th>Inside Temperature</th>
    <th>Outside Humidity</th>
    <th>Inside Humidity</th>
    <th>Rainfall</th>
    <th>Wind Speed (Gust)</th>
    <th>Wind Speed (Avg)</th>
    <th>Wind Direction</th>
</tr>
</thead>
{% for row in hourly_data %}
    <tr>
        <td style="white-space: nowrap;">{{ row.date|date:"h a" }}</td>
        <td>{% if row.temp_out == None %}N/A{% else %}{{ row.temp_out|floatformat:1 }}<sup>o</sup>C{% endif %}</td>
        <td>{{ row.temp_in|floatformat:1 }}<sup>o</sup>C</td>
        <td>{% if row.hum_out == None %}N/A{% else %}{{ row.hum_out|floatformat:1 }}%{% endif %}</td>
        <td>{{ row.hum_in|floatformat:1 }}%</td>
        <td>{{ row.rain|floatformat:1 }} mm</td>
        <td>{% if row.wind_gust == None %}N/A{% else %}{{ row.wind_gust|floatformat:1 }} mph{% endif %}</td>
        <td>{% if row.wind_ave == None %}N/A{% else %}{{ row.wind_ave|floatformat:1 }} mph{% endif %}</td>
        <td>{{ row.dir_text }}</td>
    </tr>
{% endfor %}
</table>
</div>
<div id="tabs-3">
<table width="100%" class="data_table">
<thead>
    <tr><th>&nbsp;</th><th>{{ date|date:"d F Y" }}</th><th>{{ date|date:"F" }} Record</th><th>{{ date|date:"F" }} Average</th></tr>
</thead>
<tr><td>Indoor Average</td><td>{{ day.avg_temp_in|floatformat:1 }}<sup>o</sup>C</td>
                        <td>{{ climate.avg_temp_in_record|floatformat:1 }}<sup>o</sup>C</td>
                        <td>{{ climate.avg_temp_in_average|floatformat:1 }}<sup>o</sup>C</td></tr>
<tr><td>Indoor High</td><td>{{ day.max_temp_in|floatformat:1 }}<sup>o</sup>C</td>
                        <td>{{ climate.max_temp_in_record|floatformat:1 }}<sup>o</sup>C</td>
                        <td>{{ climate.max_temp_in_average|floatformat:1 }}<sup>o</sup>C</td></tr>
<tr><td>Indoor Low</td><td>{{ day.min_temp_in|floatformat:1 }}<sup>o</sup>C</td>
                        <td>{{ climate.min_temp_in_record|floatformat:1 }}<sup>o</sup>C</td>
                        <td>{{ climate.min_temp_in_average|floatformat:1 }}<sup>o</sup>C</td></tr>
<tr><td>Outside Average</td><td>{{ day.avg_temp_out|floatformat:1 }}<sup>o</sup>C</td>
                        <td>{{ climate.avg_temp_out_record|floatformat:1 }}<sup>o</sup>C</td>
                        <td>{{ climate.avg_temp_out_average|floatformat:1 }}<sup>o</sup>C</td></tr>
<tr><td>Outside High</td><td>{{ day.max_temp_out|floatformat:1 }}<sup>o</sup>C</td>
                        <td>{{ climate.max_temp_out_record|floatformat:1 }}<sup>o</sup>C</td>
                        <td>{{ climate.max_temp_out_average|floatformat:1 }}<sup>o</sup>C</td></tr>
<tr><td>Outside Low</td><td>{{ day.min_temp_out|floatformat:1 }}<sup>o</sup>C</td>
                        <td>{{ climate.min_temp_out_record|floatformat:1 }}<sup>o</sup>C</td>
                        <td>{{ climate.min_temp_out_average|floatformat:1 }}<sup>o</sup>C</td></tr>
<tr><td>Wind Gust</td><td>{{ day.max_wind_gust|floatformat:1 }} mph</td>
                        <td>{{ climate.wind_gust_record|floatformat:1 }} mph</td>
                        <td>{{ climate.wind_gust_average|floatformat:1 }} mph</td></tr>
<tr><td>Wind Average</td><td>{{ day.wind_ave|floatformat:1 }} mph</td>
                        <td>{{ climate.wind_ave_record|floatformat:1 }} mph</td>
                        <td>{{ climate.wind_ave_average|floatformat:1 }}mph</td></tr>
<tr><td>Rainfall</td><td>{{ day.rain|floatformat:1 }} mm</td>
                        <td>{{ climate.rain_record|floatformat:1 }} mm</td>
                        <td>{{ climate.rain_average|floatformat:1 }} mm</td></tr>
</table>
</div>
<div id="tabs-4">
<table width="100%" class="data_table">
<thead>
    <tr><th>&nbsp;</th>{% for day in on_this_day %}<th>{{ day.date.year }}</th>{% endfor %}</tr>
</thead>
<tr><td>Indoor Average</td>{% for day in on_this_day %}<td>{{ day.avg_temp_in|floatformat:1 }}<sup>o</sup>C</td>{% endfor %}</tr>
<tr><td>Indoor High</td>{% for day in on_this_day %}<td>{{ day.max_temp_in|floatformat:1 }}<sup>o</sup>C</td>{% endfor %}</tr>
<tr><td>Indoor Low</td>{% for day in on_this_day %}<td>{{ day.min_temp_in|floatformat:1 }}<sup>o</sup>C</td>{% endfor %}</tr>
<tr><td>Outside Average</td>{% for day in on_this_day %}<td>{{ day.avg_temp_out|floatformat:1 }}<sup>o</sup>C</td>{% endfor %}</tr>
<tr><td>Outside High</td>{% for day in on_this_day %}<td>{{ day.max_temp_out|floatformat:1 }}<sup>o</sup>C</td>{% endfor %}</tr>
<tr><td>Outside Low</td>{% for day in on_this_day %}<td>{{ day.min_temp_out|floatformat:1 }}<sup>o</sup>C</td>{% endfor %}</tr>
<tr><td>Wind Gust</td>{% for day in on_this_day %}<td>{{ day.max_wind_gust|floatformat:1 }} mph</td>{% endfor %}</tr>
<tr><td>Wind Average</td>{% for day in on_this_day %}<td>{{ day.wind_ave|floatformat:1 }} mph</td>{% endfor %}</tr>
<tr><td>Rainfall</td>{% for day in on_this_day %}<td>{{ day.rain|floatformat:1 }} mm</td>{% endfor %}</tr>
</table>
</div>
</div>

<script>
function drawTempChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Time');
    data.addColumn('number', 'Outside');
    data.addColumn('number', 'Inside');

    data.addRows([
    {% for row in rows %}
        ['{{ row.time }}', {{ row.temp_out }}, {{ row.temp_in }}],
    {% endfor %}
        null]);

    var chart = new google.visualization.LineChart(document.getElementById('tempchart_div'));
    chart.draw(data, {width: 950, height: 240, title: 'Temperature'});
}
google.setOnLoadCallback(drawTempChart);

{% if total_rain > 0 %}
function drawRainChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Time');
    data.addColumn('number', 'Rain');

    data.addRows([
    {% for row in rows %}
        ['{{ row.time }}', {{ row.rain }}],
    {% endfor %}
        null]);

    var chart = new google.visualization.ColumnChart(document.getElementById('rainchart_div'));
    chart.draw(data, {width: 950, height: 240, title: 'Rainfall'});
}
google.setOnLoadCallback(drawRainChart);
{% endif %}

function drawPressureChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Time');
    data.addColumn('number', 'Pressure');

    data.addRows([
    {% for row in rows %}
        ['{{ row.time }}', {{ row.abs_pressure }}],
    {% endfor %}
        null]);

    var chart = new google.visualization.LineChart(document.getElementById('pressuret_div'));
    chart.draw(data, {width: 950, height: 240, title: 'Pressure'});
}
google.setOnLoadCallback(drawPressureChart);

function drawWindSpeedChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Time');
    data.addColumn('number', 'Avg Speed');
    data.addColumn('number', 'Gust');

    data.addRows([
    {% for row in rows %}
        ['{{ row.time }}', {{ row.wind_ave }}, {{ row.wind_gust }}],
    {% endfor %}
        null]);

    var chart = new google.visualization.LineChart(document.getElementById('windspeed_div'));
    chart.draw(data, {width: 650, height: 240, title: 'Wind Speed'});
}
google.setOnLoadCallback(drawWindSpeedChart);

function drawWindDirChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('number', '');

    data.addRows([
    {% for value in day.wind_dir_list %}
        [{{ value }}],
    {% endfor %}
        [{{ day.wind_dir_list.0 }}]]);

    var options = { cht: 'rs', chxt: 'x', chxl: '0:|N|NE|E|SE|S|SW|W|NW', chm: 'B,76A4FB80,0,0,0', min: 0, legend: "none" };

    var chart = new google.visualization.ImageChart(document.getElementById('winddir_div'));
    chart.draw(data, options);
}
google.setOnLoadCallback(drawWindDirChart);

function drawHumidityChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Time');
    data.addColumn('number', 'Outside');
    data.addColumn('number', 'Inside');

    data.addRows([
    {% for row in rows %}
        ['{{ row.time }}', {{ row.hum_out }}, {{ row.hum_in }}],
    {% endfor %}
        null]);

    var chart = new google.visualization.LineChart(document.getElementById('humidity_div'));
    chart.draw(data, {width: 950, height: 240, title: 'Humidity'});
}
google.setOnLoadCallback(drawHumidityChart);

$(document).ready(function () {
    $("#tabs").tabs();
});
</script>
{% endblock %}
