{% extends "html/base.html" %}

{% block content %}
<h2>{% if prev_month %}<a href="{% url app.views.month prev_month.year prev_month.month %}">&lt;&lt;</a>{% endif %}
    {{ date|date:"F" }}
    <a href="{% url app.views.year date.year %}">{{ date.year }}</a>
    {% if next_month %}<a href="{% url app.views.month next_month.year next_month.month %}">&gt;&gt;</a>{% endif %}</h2>

<p class="subdates">{% for day in days %}
        <a href="{% url app.views.day day.year day.month day.day %}">{{ day.day }}</a>
    {% endfor %}</p>

<div id="tabs">
<ul>
    <li><a href="#tabs-1">Charts</a></li>
    <li><a href="#tabs-2">Climate</a></li>
    <li><a href="#tabs-3">Previous Years</a></li>
</ul>
<div id="tabs-1">
<h3>Temperature</h3>

<p>Outside: <b>Maximum:</b> {{ max_temp_out|floatformat:1 }}<sup>o</sup>C <b>Minimum:</b> {{ min_temp_out|floatformat:1 }}<sup>o</sup>C</p>
<p>Inside: <b>Maximum:</b> {{ max_temp_in|floatformat:1 }}<sup>o</sup>C <b>Minimum:</b> {{ min_temp_in|floatformat:1 }}<sup>o</sup>C</p>

<div id="tempchart_div"></div>

<h3>Rainfall</h3>

<p><b>Total Rainfall:</b> {{ total_rain }} mm</p>

{% if total_rain > 0 %}
<div id="rainchart_div"></div>
{% endif %}

<h3>Pressure</h3>

<div id="pressuret_div"></div>

<h3>Wind (mph)</h3>

<table><tr>
<td id="windspeed_div"></td>
<td id="winddir_div"></td>
</tr></table>

<h3>Humidity</h3>

<p>Outside: <b>Maximum:</b> {{ max_hum_out|floatformat:1 }}% <b>Minimum:</b> {{ min_hum_out|floatformat:1 }}%</p>
<p>Inside: <b>Maximum:</b> {{ max_hum_in|floatformat:1 }}% <b>Minimum:</b> {{ min_hum_in|floatformat:1 }}%</p>

<div id="humidity_div"></div>
</div>
<div id="tabs-2">
<table width="100%" class="data_table">
<thead>
    <tr><th>&nbsp;</th><th>{{ date|date:"F Y" }}</th><th>{{ date|date:"F" }} Record</th><th>{{ date|date:"F" }} Average</th></tr>
</thead>
<tr><td>Indoor High</td><td>{{ month.max_temp_in|floatformat:1 }}<sup>o</sup>C</td>
                        <td>{{ climate.max_temp_in_record|floatformat:1 }}<sup>o</sup>C</td>
                        <td>{{ climate.max_temp_in_average|floatformat:1 }}<sup>o</sup>C</td></tr>
<tr><td>Indoor Low</td><td>{{ month.min_temp_in|floatformat:1 }}<sup>o</sup>C</td>
                        <td>{{ climate.min_temp_in_record|floatformat:1 }}<sup>o</sup>C</td>
                        <td>{{ climate.min_temp_in_average|floatformat:1 }}<sup>o</sup>C</td></tr>
<tr><td>Outside High</td><td>{{ month.max_temp_out|floatformat:1 }}<sup>o</sup>C</td>
                        <td>{{ climate.max_temp_out_record|floatformat:1 }}<sup>o</sup>C</td>
                        <td>{{ climate.max_temp_out_average|floatformat:1 }}<sup>o</sup>C</td></tr>
<tr><td>Outside Low</td><td>{{ month.min_temp_out|floatformat:1 }}<sup>o</sup>C</td>
                        <td>{{ climate.min_temp_out_record|floatformat:1 }}<sup>o</sup>C</td>
                        <td>{{ climate.min_temp_out_average|floatformat:1 }}<sup>o</sup>C</td></tr>
<tr><td>Cold Days (&lt;0<sup>o</sup>C)</td><td>{{ month.cold_days }} days</td>
                        <td>{{ climate.cold_days_record }} days</td>
                        <td>{{ climate.cold_days_average|floatformat:1 }} days</td></tr>
<tr><td>Hot Days (&gt;27<sup>o</sup>C)</td><td>{{ month.hot_days }} days</td>
                        <td>{{ climate.hot_days_record }} days</td>
                        <td>{{ climate.hot_days_average|floatformat:1 }} days</td></tr>
<tr><td>Wind Gust</td><td>{{ month.max_wind_gust|floatformat:1 }} mph</td>
                        <td>{{ climate.wind_gust_record|floatformat:1 }} mph</td>
                        <td>{{ climate.wind_gust_average|floatformat:1 }} mph</td></tr>
<tr><td>Rainfall</td><td>{{ month.rain|floatformat:1 }} mm</td>
                        <td>{{ climate.rain_record|floatformat:1 }} mm</td>
                        <td>{{ climate.rain_average|floatformat:1 }} mm</td></tr>
<tr><td>Days Of Rain</td><td>{{ month.rain_days }} days</td>
                        <td>{{ climate.days_of_rain_record }} days</td>
                        <td>{{ climate.days_of_rain_average|floatformat:1 }} days</td></tr>
</table>
</div>
<div id="tabs-3">
<table width="100%" class="data_table">
<thead>
    <tr><th>&nbsp;</th>{% for month in months %}<th>{{ month.date.year }}</th>{% endfor %}</tr>
</thead>
<tr><td>Indoor High</td>{% for month in months %}<td>{{ month.max_temp_in|floatformat:1 }}<sup>o</sup>C</td>{% endfor %}</tr>
<tr><td>Indoor Low</td>{% for month in months %}<td>{{ month.min_temp_in|floatformat:1 }}<sup>o</sup>C</td>{% endfor %}</tr>
<tr><td>Outside High</td>{% for month in months %}<td>{{ month.max_temp_out|floatformat:1 }}<sup>o</sup>C</td>{% endfor %}</tr>
<tr><td>Outside Low</td>{% for month in months %}<td>{{ month.min_temp_out|floatformat:1 }}<sup>o</sup>C</td>{% endfor %}</tr>
<tr><td>Cold Days (&lt;0<sup>o</sup>C)</td>{% for month in months %}<td>{{ month.cold_days|floatformat:1 }}</td>{% endfor %}</tr>
<tr><td>Hot Days (&gt;0<sup>o</sup>C)</td>{% for month in months %}<td>{{ month.hot_days|floatformat:1 }}</td>{% endfor %}</tr>
<tr><td>Wind Gust</td>{% for month in months %}<td>{{ month.max_wind_gust|floatformat:1 }} mph</td>{% endfor %}</tr>
<tr><td>Rainfall</td>{% for month in months %}<td>{{ month.rain|floatformat:1 }} mm</td>{% endfor %}</tr>
<tr><td>Days Of Rain</td>{% for month in months %}<td>{{ month.rain_days|floatformat:1 }}</td>{% endfor %}</tr>
</table>
</div>
</div>

<script>
function drawTempChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Time');
    data.addColumn('number', 'Outside');
    data.addColumn('number', 'Inside');

    data.addRows([
    {% for row in rows %}
        ['{{ row.time }}', {{ row.temp_out|floatformat:1 }}, {{ row.temp_in|floatformat:1 }}],
    {% endfor %}
        null]);

    var chart = new google.visualization.LineChart(document.getElementById('tempchart_div'));
    chart.draw(data, {width: 950, height: 240, title: 'Temperature'});
}
google.setOnLoadCallback(drawTempChart);

{% if total_rain > 0 %}
function drawRainChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Time');
    data.addColumn('number', 'Rain');

    data.addRows([
    {% for row in rows %}
        ['{{ row.time }}', {{ row.rain }}],
    {% endfor %}
        null]);

    var chart = new google.visualization.LineChart(document.getElementById('rainchart_div'));
    chart.draw(data, {width: 950, height: 240, title: 'Rainfall'});
}
google.setOnLoadCallback(drawRainChart);
{% endif %}

function drawPressureChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Time');
    data.addColumn('number', 'Pressure');

    data.addRows([
    {% for row in rows %}
        ['{{ row.time }}', {{ row.abs_pressure|floatformat:1 }}],
    {% endfor %}
        null]);

    var chart = new google.visualization.LineChart(document.getElementById('pressuret_div'));
    chart.draw(data, {width: 950, height: 240, title: 'Pressure'});
}
google.setOnLoadCallback(drawPressureChart);

function drawWindSpeedChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Time');
    data.addColumn('number', 'Avg Speed');
    data.addColumn('number', 'Gust');

    data.addRows([
    {% for row in rows %}
        ['{{ row.time }}', {{ row.wind_ave|floatformat:1 }}, {{ row.wind_gust|floatformat:1 }}],
    {% endfor %}
        null]);

    var chart = new google.visualization.LineChart(document.getElementById('windspeed_div'));
    chart.draw(data, {width: 650, height: 240, title: 'Wind Speed'});
}
google.setOnLoadCallback(drawWindSpeedChart);

function drawWindDirChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('number', '');

    data.addRows([
    {% for wind in wind_dir_list %}
        [{{ wind }}],
    {% endfor %}
        [{{ wind_dir_list.0 }}]]);

    var options = { cht: 'rs', chxt: 'x', chxl: '0:|N|NE|E|SE|S|SW|W|NW', chm: 'B,76A4FB80,0,0,0' };

    var chart = new google.visualization.ImageChart(document.getElementById('winddir_div'));
    chart.draw(data, options);
}
google.setOnLoadCallback(drawWindDirChart);

function drawHumidityChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Time');
    data.addColumn('number', 'Outside');
    data.addColumn('number', 'Inside');

    data.addRows([
    {% for row in rows %}
        ['{{ row.time }}', {{ row.hum_out|floatformat:1 }}, {{ row.hum_in|floatformat:1 }}],
    {% endfor %}
        null]);

    var chart = new google.visualization.LineChart(document.getElementById('humidity_div'));
    chart.draw(data, {width: 950, height: 240, title: 'Humidity'});
}
google.setOnLoadCallback(drawHumidityChart);

$(document).ready(function () {
    $("#tabs").tabs();
});
</script>
{% endblock %}
