{% extends "html/base.html" %}

{% block content %}
<h2>{% if prev_year %}<a href="{% url app.views.year prev_year.year %}">&lt;&lt;</a>{% endif %}
    {{ date.year }}
    {% if next_year %}<a href="{% url app.views.year next_year.year %}">&gt;&gt;</a>{% endif %}</h2>

<p class="subdates">{% for month in months %}
        <a href="{% url app.views.month month.year month.month %}">{{ month|date:"F" }}</a>
    {% endfor %}</p>

<h3>Temperature</h3>

<p>Outside: <b>Maximum:</b> {{ max_temp_out }}<sup>o</sup>C <b>Minimum:</b> {{ min_temp_out }}<sup>o</sup>C</p>
<p>Inside: <b>Maximum:</b> {{ max_temp_in }}<sup>o</sup>C <b>Minimum:</b> {{ min_temp_in }}<sup>o</sup>C</p>

<div id="tempchart_div"></div>

<h3>Rainfall</h3>

<p><b>Total Rainfall:</b> {{ total_rain }} mm</p>

{% if total_rain > 0 %}
<div id="rainchart_div"></div>
{% endif %}

<h3>Pressure</h3>

<div id="pressure_div"></div>

<h3>Wind (mph)</h3>

<table><tr>
<td id="windspeed_div"></td>
<td id="winddir_div"></td>
</tr></table>

<h3>Humidity</h3>

<div id="humidity_div"></div>

<script>
function drawTempChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Time');
    data.addColumn('number', 'Max Outside');
    data.addColumn('number', 'Max Inside');
    data.addColumn('number', 'Min Outside');
    data.addColumn('number', 'Min Inside');

    data.addRows([
    {% for row in rows %}
        ['{{ row.time }}', {{ row.max_temp_out }}, {{ row.max_temp_in }}, {{ row.min_temp_out }}, {{ row.min_temp_in }}],
    {% endfor %}
        null]);

    var chart = new google.visualization.LineChart(document.getElementById('tempchart_div'));
    chart.draw(data, {width: 950, height: 240, title: 'Temperature'});
}
google.setOnLoadCallback(drawTempChart);

{% if total_rain > 0 %}
function drawRainChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Time');
    data.addColumn('number', 'Rain');

    data.addRows([
    {% for row in rows %}
        ['{{ row.time }}', {{ row.rain }}],
    {% endfor %}
        null]);

    var chart = new google.visualization.ColumnChart(document.getElementById('rainchart_div'));
    chart.draw(data, {width: 950, height: 240, title: 'Rainfall'});
}
google.setOnLoadCallback(drawRainChart);
{% endif %}

function drawPressureChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Time');
    data.addColumn('number', 'Pressure');

    data.addRows([
    {% for row in rows %}
        ['{{ row.time }}', {{ row.abs_pressure }}],
    {% endfor %}
        null]);

    var chart = new google.visualization.LineChart(document.getElementById('pressure_div'));
    chart.draw(data, {width: 950, height: 240, title: 'Pressure'});
}
google.setOnLoadCallback(drawPressureChart);

function drawWindSpeedChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Time');
    data.addColumn('number', 'Avg Speed');
    data.addColumn('number', 'Gust');

    data.addRows([
    {% for row in rows %}
        ['{{ row.time }}', {{ row.wind_ave }}, {{ row.max_wind_gust }}],
    {% endfor %}
        null]);

    var chart = new google.visualization.LineChart(document.getElementById('windspeed_div'));
    chart.draw(data, {width: 650, height: 240, title: 'Wind Speed'});
}
google.setOnLoadCallback(drawWindSpeedChart);

function drawWindDirChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('number', '');

    data.addRows([
    {% for wind_dir in wind_dir_list %}
        [{{ wind_dir }}],
    {% endfor %}
        [{{ wind_dir_list.0 }}]]);

    var options = { cht: 'rs', chxt: 'x', chxl: '0:|N|NE|E|SE|S|SW|W|NW', chm: 'B,76A4FB80,0,0,0' };

    var chart = new google.visualization.ImageChart(document.getElementById('winddir_div'));
    chart.draw(data, options);
}
google.setOnLoadCallback(drawWindDirChart);

function drawHumidityChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Time');
    data.addColumn('number', 'Max Outside');
    data.addColumn('number', 'Max Inside');
    data.addColumn('number', 'Min Outside');
    data.addColumn('number', 'Min Inside');

    data.addRows([
    {% for row in rows %}
        ['{{ row.time }}', {{ row.max_hum_out }}, {{ row.max_hum_in }}, {{ row.min_hum_out }}, {{ row.min_hum_in }}],
    {% endfor %}
        null]);

    var chart = new google.visualization.LineChart(document.getElementById('humidity_div'));
    chart.draw(data, {width: 950, height: 240, title: 'Humidity'});
}
google.setOnLoadCallback(drawHumidityChart);
</script>
{% endblock %}
