{% extends "html/base.html" %}

{% block content %}
<h2>{% if prev_year %}<a href="{% url app.views.year prev_year.year %}">&lt;&lt;</a>{% endif %}
    {{ date.year }}
    {% if next_year %}<a href="{% url app.views.year next_year.year %}">&gt;&gt;</a>{% endif %}</h2>

<p class="subdates">{% for month in months %}
        <a href="{% url app.views.month month.year month.month %}">{{ month|date:"F" }}</a>
    {% endfor %}</p>

    <div id="tabs">
<ul>
    <li><a href="#tabs-1">Charts</a></li>
    <li><a href="#tabs-2">Climate</a></li>
    <li><a href="#tabs-3">Previous Years</a></li>
</ul>
<div id="tabs-1">
<h3>Temperature</h3>

<p>Outside: <b>Maximum:</b> {{ max_temp_out }}<sup>o</sup>C <b>Minimum:</b> {{ min_temp_out }}<sup>o</sup>C</p>
<p>Inside: <b>Maximum:</b> {{ max_temp_in }}<sup>o</sup>C <b>Minimum:</b> {{ min_temp_in }}<sup>o</sup>C</p>

<div id="tempchart_div"></div>

<h3>Rainfall</h3>

<p><b>Total Rainfall:</b> {{ total_rain }} mm</p>

{% if total_rain > 0 %}
<div id="rainchart_div"></div>
{% endif %}

<h3>Pressure</h3>

<div id="pressure_div"></div>

<h3>Wind (mph)</h3>

<table><tr>
<td id="windspeed_div"></td>
<td id="winddir_div"></td>
</tr></table>

<h3>Humidity</h3>

<div id="humidity_div"></div>
</div>
<div id="tabs-2">
<table width="100%" class="data_table">
<thead>
    <tr><th>&nbsp;</th><th>{{ date|date:"Y" }}</th><th>Yearly Record</th><th>Yearly Average</th></tr>
</thead>
<tr><td>Indoor High</td><td>{{ year.max_temp_in|floatformat:1 }}<sup>o</sup>C</td>
                        <td>{{ climate.max_temp_in_record|floatformat:1 }}<sup>o</sup>C</td>
                        <td>{{ climate.max_temp_in_average|floatformat:1 }}<sup>o</sup>C</td></tr>
<tr><td>Indoor Low</td><td>{{ year.min_temp_in|floatformat:1 }}<sup>o</sup>C</td>
                        <td>{{ climate.min_temp_in_record|floatformat:1 }}<sup>o</sup>C</td>
                        <td>{{ climate.min_temp_in_average|floatformat:1 }}<sup>o</sup>C</td></tr>
<tr><td>Outside High</td><td>{{ year.max_temp_out|floatformat:1 }}<sup>o</sup>C</td>
                        <td>{{ climate.max_temp_out_record|floatformat:1 }}<sup>o</sup>C</td>
                        <td>{{ climate.max_temp_out_average|floatformat:1 }}<sup>o</sup>C</td></tr>
<tr><td>Outside Low</td><td>{{ year.min_temp_out|floatformat:1 }}<sup>o</sup>C</td>
                        <td>{{ climate.min_temp_out_record|floatformat:1 }}<sup>o</sup>C</td>
                        <td>{{ climate.min_temp_out_average|floatformat:1 }}<sup>o</sup>C</td></tr>
<tr><td>Cold Days (&lt;0<sup>o</sup>C)</td><td>{{ year.cold_days }} days</td>
                        <td>{{ climate.cold_days_record }} days</td>
                        <td>{{ climate.cold_days_average|floatformat:1 }} days</td></tr>
<tr><td>Hot Days (&gt;27<sup>o</sup>C)</td><td>{{ year.hot_days }} days</td>
                        <td>{{ climate.hot_days_record }} days</td>
                        <td>{{ climate.hot_days_average|floatformat:1 }} days</td></tr>
<tr><td>Wind Gust</td><td>{{ year.max_wind_gust|floatformat:1 }} mph</td>
                        <td>{{ climate.wind_gust_record|floatformat:1 }} mph</td>
                        <td>{{ climate.wind_gust_average|floatformat:1 }} mph</td></tr>
<tr><td>Rainfall</td><td>{{ year.rain|floatformat:1 }} mm</td>
                        <td>{{ climate.rain_record|floatformat:1 }} mm</td>
                        <td>{{ climate.rain_average|floatformat:1 }} mm</td></tr>
<tr><td>Days Of Rain</td><td>{{ year.rain_days }} days</td>
                        <td>{{ climate.days_of_rain_record }} days</td>
                        <td>{{ climate.days_of_rain_average|floatformat:1 }} days</td></tr>
</table>
</div>
<div id="tabs-3">
<table width="100%" class="data_table">
<thead>
    <tr><th>&nbsp;</th>{% for year in years %}<th>{{ year.date.year }}</th>{% endfor %}</tr>
</thead>
<tr><td>Indoor Record High</td>{% for year in years %}<td>{{ year.max_temp_in|floatformat:1 }}<sup>o</sup>C</td>{% endfor %}</tr>
<tr><td>Indoor Record Low</td>{% for year in years %}<td>{{ year.min_temp_in|floatformat:1 }}<sup>o</sup>C</td>{% endfor %}</tr>
<tr><td>Outside Record High</td>{% for year in years %}<td>{{ year.max_temp_out|floatformat:1 }}<sup>o</sup>C</td>{% endfor %}</tr>
<tr><td>Outside Record Low</td>{% for year in years %}<td>{{ year.min_temp_out|floatformat:1 }}<sup>o</sup>C</td>{% endfor %}</tr>
<tr><td>Cold Days (&lt;0<sup>o</sup>C)</td>{% for year in years %}<td>{{ year.cold_days }}</td>{% endfor %}</tr>
<tr><td>Hot Days (&gt;0<sup>o</sup>C)</td>{% for year in years %}<td>{{ year.hot_days }}</td>{% endfor %}</tr>
<tr><td>Wind Gust</td>{% for year in years %}<td>{{ year.max_wind_gust|floatformat:1 }} mph</td>{% endfor %}</tr>
<tr><td>Rainfall</td>{% for year in years %}<td>{{ year.rain|floatformat:1 }} mm
                                                {% if year.predicated_rain %}{{ year.predicated_rain|floatformat:1 }} mm{% endif %}
                                            </td>{% endfor %}</tr>
<tr><td>Days Of Rain</td>{% for year in years %}<td>{{ year.rain_days }}</td>{% endfor %}</tr>
</table>
</div>
</div>

<script>
function drawTempChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Time');
    data.addColumn('number', 'Max Outside');
    data.addColumn('number', 'Max Inside');
    data.addColumn('number', 'Min Outside');
    data.addColumn('number', 'Min Inside');

    data.addRows([
    {% for row in rows %}
        ['{{ row.time }}', {{ row.max_temp_out }}, {{ row.max_temp_in }}, {{ row.min_temp_out }}, {{ row.min_temp_in }}],
    {% endfor %}
        null]);

    var chart = new google.visualization.LineChart(document.getElementById('tempchart_div'));
    chart.draw(data, {width: 950, height: 240, title: 'Temperature'});
}
google.setOnLoadCallback(drawTempChart);

{% if total_rain > 0 %}
function drawRainChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Time');
    data.addColumn('number', 'Rain');

    data.addRows([
    {% for row in rows %}
        ['{{ row.time }}', {{ row.rain }}],
    {% endfor %}
        null]);

    var chart = new google.visualization.ColumnChart(document.getElementById('rainchart_div'));
    chart.draw(data, {width: 950, height: 240, title: 'Rainfall'});
}
google.setOnLoadCallback(drawRainChart);
{% endif %}

function drawPressureChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Time');
    data.addColumn('number', 'Pressure');

    data.addRows([
    {% for row in rows %}
        ['{{ row.time }}', {{ row.abs_pressure }}],
    {% endfor %}
        null]);

    var chart = new google.visualization.LineChart(document.getElementById('pressure_div'));
    chart.draw(data, {width: 950, height: 240, title: 'Pressure'});
}
google.setOnLoadCallback(drawPressureChart);

function drawWindSpeedChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Time');
    data.addColumn('number', 'Avg Speed');
    data.addColumn('number', 'Gust');

    data.addRows([
    {% for row in rows %}
        ['{{ row.time }}', {{ row.wind_ave }}, {{ row.max_wind_gust }}],
    {% endfor %}
        null]);

    var chart = new google.visualization.LineChart(document.getElementById('windspeed_div'));
    chart.draw(data, {width: 650, height: 240, title: 'Wind Speed'});
}
google.setOnLoadCallback(drawWindSpeedChart);

function drawWindDirChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('number', '');

    data.addRows([
    {% for wind_dir in wind_dir_list %}
        [{{ wind_dir }}],
    {% endfor %}
        [{{ wind_dir_list.0 }}]]);

    var options = { cht: 'rs', chxt: 'x', chxl: '0:|N|NE|E|SE|S|SW|W|NW', chm: 'B,76A4FB80,0,0,0' };

    var chart = new google.visualization.ImageChart(document.getElementById('winddir_div'));
    chart.draw(data, options);
}
google.setOnLoadCallback(drawWindDirChart);

function drawHumidityChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Time');
    data.addColumn('number', 'Max Outside');
    data.addColumn('number', 'Max Inside');
    data.addColumn('number', 'Min Outside');
    data.addColumn('number', 'Min Inside');

    data.addRows([
    {% for row in rows %}
        ['{{ row.time }}', {{ row.max_hum_out }}, {{ row.max_hum_in }}, {{ row.min_hum_out }}, {{ row.min_hum_in }}],
    {% endfor %}
        null]);

    var chart = new google.visualization.LineChart(document.getElementById('humidity_div'));
    chart.draw(data, {width: 950, height: 240, title: 'Humidity'});
}
google.setOnLoadCallback(drawHumidityChart);

$(document).ready(function () {
    $("#tabs").tabs();
});
</script>
{% endblock %}
