{% extends "ehtml/base.html" %}

{% block content %}
    <div id="watts_div"></div>

    <script>
function drawWattsChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Time');
    data.addColumn('number', 'Watts');

    data.addRows([
    {% for row in watts %}
        ['{{ row.date|date:"H:i" }}', {{ row.watts }}],
    {% endfor %}
        null]);

    var chart = new google.visualization.LineChart(document.getElementById('watts_div'));
    chart.draw(data, {width: 950, height: 240, title: 'Watts'});
}
google.setOnLoadCallback(drawWattsChart);
</script>
{% endblock %}