html, body {
    width: 100%;
    padding: 0;
    margin: 0;
}

body.desktop #full-screen-background-image {
    z-index: -999;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

h1, h2, h3, h4 {
    font-family: Baskerville, Times, “Times New Roman”, serif;
}

h2 {
    text-align: center;
}

h2 a {
    color: black;
}

p, div, th, td {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

#header {
    position: relative;
    width: 1012px;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;

    background-color: white;
}

#wrapper {
    position: relative;
    width: 1000px;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;

    padding-left: 6px;
    padding-right: 6px;

    color: black;
    background-color: white;

    overflow: auto;
}

#footer {
    margin-bottom: 6px;

    font-size: 0.8em;
}

#menubar {
    background-image: url(menubg.png);

    color: white;
    font-weight: bold;

    position: relative;
    width: 1000px;
    height: 26px;

    padding-left: 6px;
    padding-right: 6px;
    padding-top: 8px;
    padding-bottom: 2px;
}

#menubar a {
    color: white;

    margin-left: 20px;
}

#foldright {
    position: absolute;

    top: -9px;
    left: 1012px;
}

#foldleft {
    position: absolute;

    top: -9px;
    left: -10px;
}

p.subdates {
    text-align: center;
    font-size: 0.8em;
}

.records {
    display: flex;
    flex-direction: column;
}

.record_row {
    display: flex;
    flex-direction: row;
}

.record {
    width: 310px;
    margin: 3px;
    border: 2px solid black;
    text-align: center;
    padding: 5px;
    min-height: 185px;
}

.record table {
    width: 100%;
}

.record td {
    height: 1.6em;
}

.record td.date {
    text-align: right;
}

.record td.value {
    text-align: center;
    width: 40%;
}

.record h3 {
    margin-top: 3px;
    margin-bottom: 3px;
}

table.data_table td {
    text-align: center;
}
